<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PARKING_MANAGEMENT_SYSTEM.Properties.Settings.VMSConnectionString"
            connectionString="Data Source=DESKTOP-EV08370;Initial Catalog=VMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>